.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

:root {
--neck-color: #755628;
--neck-height: 250px;
--neck-width: 960px;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.05em;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
.guitar-neck {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-left: -450px;
  width: var(--neck-width);
  height: var(--neck-height);
  background: var(--neck-color);
  box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .open-notes {
  position: absolute;
  top: 3px;
  left: -35px;
}
.guitar-neck .open-notes li {
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}
.guitar-neck .open-notes li.active {
  color: #fa990f;
}
.guitar-neck .fret {
  float: left;
  width: 3px;
  height: var(--neck-height);
  background: #d7d6d6;
  margin-left: 75px;
  border-right: 2px solid #686868;
}
.guitar-neck .fret.first {
  position: absolute;
  width: 50px;
  left: -52px;
  top: 0;
  margin-left: 0;
  background: #211f1d;
}
.guitar-neck .dots {
  position: absolute;
  width: 642px;
  height: 20px;
  top: 44%;
  left: 19.5%;
}
.guitar-neck .dots li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383530;
  margin-right: 140px;
}
.guitar-neck .strings {
  position: absolute;
  left: 0;
  top: 10px;
  width: var(--neck-width);
  height: var(--neck-height);
}
.guitar-neck .strings li {
  height: 1px;
  display: inline-block;
  width: 100%;
  background: #c8bb93;
  margin-bottom: 38px;
  border-bottom: 2px solid #958963;
  box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
  height: 2px;
}
.guitar-neck .strings li:nth-child(3) {
  height: 3px;
}
.guitar-neck .strings li:nth-child(4) {
  height: 4px;
}
.guitar-neck .strings li:nth-child(5) {
  height: 5px;
}
.guitar-neck .strings li:nth-child(6) {
  height: 6px;
}
.guitar-neck .notes {
  position: absolute;
  left: 17px;
  top: -7px;
  width: var(--neck-width);
  height: 258px;
  overflow-x: hidden;
}
.guitar-neck .notes .mask {
  position: absolute;
  right: -189px;
  bottom: 0;
  width: 1184px;
  height: 30px;
}
.guitar-neck .notes .mask ul {
  position: relative;
  float: left;
}
.guitar-neck .notes .mask ul li:hover {
  cursor: 

}
.guitar-neck .notes .mask ul li {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 50px;
  background: #fa990f;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .notes .mask.a {
  bottom: 47px;
}
.guitar-neck .notes .mask.d {
  bottom: 93px;
}
.guitar-neck .notes .mask.g {
  bottom: 137px;
}
.guitar-neck .notes .mask.b {
  bottom: 181px;
}
.guitar-neck .notes .mask.high-e {
  bottom: 224px;
}

